.welcome {
  margin-block-start: 0;
  margin-block-end: 14px;
}
.please-fill-out {
  margin: 0;
  font-size: var(--font-size-mini);
  font-weight: 500;
}
.welcome-please-fill-container {
  width: 500px;
  position: relative;
  text-transform: capitalize;
  text-align: center;
  display: inline-block;
}
.frame-inner {
  border: 0px;
  width: 263.7px;
  position: relative;
  border-radius: 12.05px;
  background-color: var(--color-gainsboro);
  height: 35.4px;
  align-items: center;
}
.email-group,
.password-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 85px;
}
.password-group {
  gap: 0 37px;
}
.name {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}
.frame-div,
.name-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.name-parent {
  gap: 0 80px;
}
.frame-div {
  width: 150px;
  border-radius: 12.05px;
  background-color: var(--color-lime);
  padding: 7.53424596786499px 15.06849193572998px;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--color-white);
}
.already-have-an,
.forgot-password1 {
  position: absolute;
  top: 0;
  left: calc(50% - 202.5px);
  text-transform: capitalize;
  font-weight: 500;
}
.already-have-an {
  left: calc(50% + 31.5px);
}
.forgot-password-group {
  width: 405px;
  position: relative;
  height: 18px;
  text-align: center;
  font-size: var(--font-size-mini);
}
.welcome-please-fill-out-the-f-parent {
  position: absolute;
  top: 187px;
  left: calc(50% - 270px);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-31xl) var(--padding-xl);
  gap: 50px 0;
}
.have-questions-or2 {
  flex: 1;
  position: relative;
  text-transform: capitalize;
}
.contact-us-frame {
  border-radius: 16.13px;
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10.084322929382324px 30.252967834472656px;
  font-size: var(--font-size-5xl-2);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.have-questions-or-need-assista-container {
  position: absolute;
  top: 870px;
  left: calc(50% - 481px);
  width: 961px;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-81xl);
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-segoe-ui);
}
.head-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1920px;
  height: 148px;
}
.l3 {
  color: var(--color-white);
}
.egal3 {
  color: var(--color-whitesmoke);
}
.multilegalinfo3 {
  position: absolute;
  top: 101px;
  left: 50px;
  font-size: var(--font-size-21xl);
  text-transform: capitalize;
}
.login-wrapper1,
.sign-up-wrapper1 {
  position: absolute;
  top: 100px;
  right: 50px;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-11xl);
  color: var(--color-black);
}
.login-wrapper1 {
  right: 244px;
  background-color: var(--color-lime);
  width: 144px;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  cursor: pointer;
  color: var(--color-white);
}
.head2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 148px;
  color: var(--color-lime);
}
.sign-up3 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 950px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
