<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./Form.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Segoe UI:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="form">
      <div class="useer-input-form">
        <div class="welcome-user-information-container">
          <p class="welcome1">
            <b>Welcome! </b>
          </p>
          <p class="user-information-form">User Information Form</p>
        </div>
        <div class="name-group">
          <div class="date-of-birth">Name</div>
          <div class="frame-child10"></div>
        </div>
        <div class="date-of-birth-parent">
          <div class="date-of-birth">Date of birth</div>
          <div class="frame-child10"></div>
        </div>
        <div class="date-of-birth-parent">
          <div class="date-of-birth">Date of birth</div>
          <div class="frame-child10"></div>
        </div>
        <div class="email-container">
          <div class="date-of-birth">email</div>
          <div class="frame-child10"></div>
        </div>
        <div class="preferred-language-parent">
          <div class="date-of-birth">
            <p class="preferred">preferred</p>
            <p class="preferred">language</p>
          </div>
          <div class="frame-child10"></div>
        </div>
        <div class="countrystate-parent">
          <div class="date-of-birth">country/state</div>
          <div class="frame-child10"></div>
        </div>
        <div class="city-parent">
          <div class="date-of-birth">city</div>
          <div class="frame-child10"></div>
        </div>
        <div class="gender-parent">
          <div class="date-of-birth">Gender</div>
          <div class="frame-child10"></div>
        </div>
        <div class="education-parent">
          <div class="date-of-birth">education</div>
          <div class="frame-child10"></div>
        </div>
        <div class="phone-number-parent">
          <div class="date-of-birth">
            <p class="preferred">phone</p>
            <p class="preferred">number</p>
          </div>
          <div class="frame-child10"></div>
        </div>
        <div class="submit-wrapper">
          <div class="date-of-birth">submit</div>
        </div>
      </div>
      <div class="contact">
        <div class="have-questions-or3">
          Have questions or need assistance? Feel free to contact our support
          team. We're here to help!
        </div>
        <div class="contact-us-wrapper1">
          <div class="date-of-birth">Contact us</div>
        </div>
      </div>
      <div class="frame-group">
        <div class="aadhar-cardpan-parent">
          <b class="aadhar-cardpan">Aadhar CardPAN </b>
          <img class="frame-child20" alt="" src="./public/ellipse-1.svg" />
        </div>
        <div class="carddrivers-license-parent">
          <b class="aadhar-cardpan">CardDriver's License</b>
          <img class="frame-child20" alt="" src="./public/ellipse-1.svg" />
        </div>
        <div class="passportvoter-id-card-parent">
          <b class="aadhar-cardpan">PassportVoter ID Card</b>
          <img class="frame-child20" alt="" src="./public/ellipse-1.svg" />
        </div>
        <div class="bank-accountcheckbookother-parent">
          <b class="bank-accountcheckbookother">Bank Account/CheckbookOther</b>
          <img class="frame-child20" alt="" src="./public/ellipse-1.svg" />
        </div>
      </div>
      <div class="head3">
        <div class="head-child1"></div>
        <b class="multilegalinfo5">
          <span>Multi</span>
          <span class="l5">L</span>
          <span class="egal5">egal</span>
          <span>info</span>
        </b>
      </div>
    </div>
  </body>
</html>
